:root {
	--bg-color: #343835;
	--color: #bf58d6;
	--nav-bg: #302e30;
	--button: #bf52bf;
	--button-colour: #ffffff;
}

body {
	background-color: var(--bg-color);
	color: var(--color);
}

.nav {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 16px;
	border: 5px solid black; /* [WARN] ADDED FOR TESTING PURPOSES THIS IS NOT PART OF THE STYLE */
	background: var(--nav-bg);
}

#output {
	border: 5px red;
}

/* .main { */
/* 	display: grid; */
/* 	text-align: center; */
/* } */

.title {
	display: flex;
	justify-content: center;
	align-items: center;
}

#searchBtn {
	background-color: var(--button);
	border-radius: 6px;
	padding: 10px;
	cursor: pointer;
	color: var(--button-colour);
}

#term {
	background: #a30894;
	color: #ffffff;
	padding: 10px;
	border-radius: 6px;
	margin-right: 5px;
}

.field {
	display: flex;
	justify-content: center;
	align-items: center;
}
